/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 80px;
    min-height: 100vh;
    position: relative;
}

.header {
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/* Customize container */
@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

.container-narrow > hr {
    margin: 2rem 0;
}

.header {
    margin-bottom: 1rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header {
        padding-right: 0;
        padding-left: 0;
    }
}